$color-active: #081F5C;
$color-tapped: #007AFF;
$color-default: #5AAAFA;
$color-completed: #969DAB;
$color-font-black: #000000;
$color-font-white: #FFFFFF;
$color-font-red: red;
$color-bt-bg: #EEEEEE;
$color-bt-font: #007AFF;
